@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projeto final Ocean MS Dev Elevador</h1>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 <div class="text-left">   
    <p> Este projeto simula um elevador com as funções:</p>
    <p> Inicializar : deve receber como parâmetros a capacidade do elevador e o total de
andares no prédio (os elevadores sempre começam no térreo e vazio);</p>

    <p> Entrar: deve acrescentar uma pessoa no elevador (só deve acrescentar se ainda houver
espaço);</p>

    <p> Sair: deve remover uma pessoa do elevador (só deve remover se houver alguém
dentro dele);</p>

    <p> Subir: deve subir um andar (não deve subir se já estiver no último andar);</p>

    <p>  Descer: deve descer um andar (não deve descer se já estiver no térreo);
    
    </p>
</div>
